In [6]:
!pip install folium

Requirement already satisfied: folium in c:\users\mjmok\anaconda3\lib\site-packages (0.16.0)
Requirement already satisfied: branca>=0.6.0 in c:\users\mjmok\anaconda3\lib\site-packages (from folium) (0.7.1)
Requirement already satisfied: jinja2>=2.9 in c:\users\mjmok\anaconda3\lib\site-packages (from folium) (3.1.3)
Requirement already satisfied: numpy in c:\users\mjmok\anaconda3\lib\site-packages (from folium) (1.26.4)
Requirement already satisfied: requests in c:\users\mjmok\anaconda3\lib\site-packages (from folium) (2.31.0)
Requirement already satisfied: xyzservices in c:\users\mjmok\anaconda3\lib\site-packages (from folium) (2022.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\mjmok\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (2.1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\mjmok\anaconda3\lib\site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mjmok\anaconda3\lib\site-packages (from requests->folium) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\mjmok\anaconda3\lib\site-packages (from requests->folium) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mjmok\anaconda3\lib\site-packages (from requests->folium) (2024.2.2)

In [20]:
import folium
import pandas as pd
from folium.plugins import HeatMap

data = pd.read_csv("C:\data\seoul-metro-2021.logs.csv")
station_info = pd.read_csv("C:\data\seoul-metro-station-info.csv")

station_info = station_info[["station.code", "geo.latitude", "geo.longitude"]]
station_info = station_info.set_index("station.code")

# 승차용
seoul_in = folium.Map(location=[37.55, 126.98], zoom_start = 12)
HeatMap(data = joined_data[['geo.latitude', 'geo.longitude', 'people_in']]).add_to(seoul_in)

# 하차용
seoul_out = folium.Map(location=[37.55, 126.98], zoom_start = 12)
HeatMap(data = joined_data[['geo.latitude', 'geo.longitude', 'people_out']]).add_to(seoul_out)

ele_two_data = data[(pd.to_datetime(data.timestamp).dt.hour >= 11) & (pd.to_datetime(data.timestamp).dt.hour <= 14)]

ele_two_data

                             timestamp  station_code  people_in  people_out
6        2021-01-01T11:00:00.000+09:00           150        579         625
7        2021-01-01T12:00:00.000+09:00           150        737         838
8        2021-01-01T13:00:00.000+09:00           150        696         788
9        2021-01-01T14:00:00.000+09:00           150        674         791
25       2021-01-01T11:00:00.000+09:00           151        117         208
...                                ...           ...        ...         ...
1941524  2021-12-31T14:00:00.000+09:00          2827        325         186
1941540  2021-12-31T11:00:00.000+09:00          2828        240         112
1941541  2021-12-31T12:00:00.000+09:00          2828        192         124
1941542  2021-12-31T13:00:00.000+09:00          2828        189         159
1941543  2021-12-31T14:00:00.000+09:00          2828        198         228

[408748 rows x 4 columns]